/* Type
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.search, .footer {
    /* breaking long words on smaller devices */
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: #676766;
}

h1 {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: .09em
}

h2 {
    font-size: .7em;
    letter-spacing: .04em;
}

p, a, table {
    font-size: .7em;
    line-height: 1.3em;
    color: #676766;
}

a {
    text-decoration: none;
    font-size: 1em;
}

a:hover, a:active {
    color: #ed1c24;
}





/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
    margin-top: 8%;
}

#sublogo {
    text-align: right;
}

#sublogo h2 {
    margin: 0;
}





/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav {
    position: relative;
    z-index: 1000;
    background: #e7e8e8;
    height: 27px;
    margin: 1em 0 2em 0;
    padding: 0 1.7em;
}

nav ul {
    padding-top: .1em;
    padding-bottom: 0;
    margin: 0;
    list-style: none;
    text-align: justify;
}

nav li {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

nav li:first {
    text-align: left;
}

nav li:last {
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #676766;
    font-size: .9em;
}

nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#nav-icon {
    display: none;
    opacity: .3;
    width: 25px;
    height: 20px;
    padding: .25em;
}

a:hover#nav-icon {
    background-color: #ed1c24;
}

.active {
    color: #ed1c24;
}

@media (max-width: 749px) {
    #menu {
        display: block;
        background-color: #e7e8e8;
        width: 50%;
        min-width: 150px;
        margin: 0 auto;
        padding-top: 2em;
        padding-bottom: 0;
    }
    #nav-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    nav ul li {
        width: 100%;
        background: #e7e8e8;
    }
}





/* Feature
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#feature-row {
    z-index: 0;
    margin-top: 3em;
}

.feature img {
    position: relative;
    width: 100%;
    display: block;
}

.overlay {
    z-index: 10;
    display: block;
    position: relative;
    height: 100%;
    left: 0;
    bottom: 7em;
    background: rgba(0, 0, 0, 0.3);
}

.feature:hover .overlay {
    background: rgba(0, 0, 0, 0.5);
}

.overlay h2, .overlay p {
    color: white;
    font-size: 0.8em;
    letter-spacing: .075em;
    padding-left: 1em;
    padding-right: 20%;
    margin: 0;
}

.overlay h2 {
    padding-top: 1.5em;
}

.overlay p {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.feature-info {
    text-align: justify;
    width: 100%
}

.feature-info img {
    width: 58.5%;
    display: block;
    margin-bottom: 2em;
}





/* Category thumbs (homepage)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.cat-thumbs {
    min-height: 14em;
    line-height: 3em;
}

.cat-thumbs div {
    line-height: 1.2em;
    vertical-align: bottom;
    height: 100%;
    margin-top: -1em;
}

.cat-thumbs a {
    font-size: 1em;
    padding-top: .5em;
    color: #676766;
    letter-spacing: .02em;
}

.cat-thumbs img {
    width: 100%;
}





/* Search page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.breadcrumb {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: .8em;
}

.searchbox {
    display: block;
    margin-bottom: 2em;
}

input.searchbox:focus {
    border-color: #ed1c24;
}

.breadcrumb span {
    color: #ed1c24;
}

.search {
    margin-top: 1em;
    margin-bottom: 1em;
}

.search div {
    text-align: center;
    line-height: .2em;
    margin-bottom: 1em;
}

.search img {
    width: 100%;
    margin-bottom: 1em;
}

.search a {
    text-transform: uppercase;
    font-size: .8em;
}

.search:last-child {
    margin-bottom: 7em;
}

.price-menu {
    position: absolute;
    list-style: none;
    border: 1px solid #e7e8e8;
    background: #fff;
    padding: .7em;
    padding-bottom: 0;
    margin-left: 2em;
    z-index: 1;
}

.price-menu li {
    border-bottom: 1px solid #676766;
    text-align: left;
    padding-bottom: .4em;
}

.price-menu li:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

@media (min-width: 200px) and (max-width: 549px) {
    .search img {
        display: none;
    }
}





/* Exhibitions page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.exhib-img img, .exhib-thumbs img {
    width: 100%;
    margin-bottom: 1em;
    vertical-align: bottom;
}

.exhib-text p {
    margin-bottom: .7em;
}

.exhib-thumbs {
    margin-top: 2em;
    margin-bottom: 4em;
    font-size: .9em;
    min-height: 25em;
}

.exhib-thumbs span {
    text-transform: none;
}

.exhib-thumbs p a {
    display: block;
    line-height: 1.6em;
    text-transform: uppercase;
}

.exhib-thumbs div {
    margin-bottom: 1em;
}





/* Catalogues page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.cats {
    display: inline-block;
    float: right;
    text-transform: uppercase;
    font-size: .8em;
    padding-top: .3em;
}

.cats a:nth-child(odd) {
    color: #242424;
}

.cats a:hover {
    color: #ed1c24;
}

.album-head {
    margin-top: 1.5em
}

.album-head h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: normal;
    border-bottom: 1px solid grey;
    padding-bottom: .5em;
}

.album span {
    float: right;
    line-height: 1em;
}

.legend {
    display: inline-block;
    float: right;
    font-size: .65em;
    color: #676766;
    padding-top: 1em;
}

.legend li {
    list-style: none;
    display: inline-block;
    padding-left: .5em;
}

.icon-sold {
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: #676766;
    border: 1px solid #676766;
    margin-right: .3em;
    margin-left: .2em;
}

.icon-reserved {
    display: inline-block;
    height: 8px;
    width: 4px;
    border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0 50px 50px 0;
    background: #676766;
    margin-left: 6px;
    margin-right: .3em;
}

.icon-private {
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #676766;
    margin-right: .3em;
    margin-left: .2em;
}

.album {
    font-size: .9em
}

.album:last-child {
    margin-bottom: 3em;
}

.album img {
    width: 100%;
}

.album p {
    margin-bottom: .5em;
}

.album p:last-child {
    margin-bottom: 3em;
}

.float-left {
    float: left;
    margin-right: 1em;
}

table, th, tr, td {
    border: none;
}

td {
    padding: .2em;
}

.album a {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}





/* About page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.about-img img {
    width: 100%;
    margin-bottom: 3em;
}

.about-text {
    border-right: 1px solid #bbb;
    margin-bottom: 4em;
}

.about-text p {
    line-height: 1.6em;
    margin-bottom: 1.5em;
}

@media (min-width: 550px) {
    .about-text p {
        padding-right: 2em;
    }
}

.about-text p:last-child {
    margin-top: 3em;
}





/* Contact page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.contact-img img {
    width: 100%;
}

.contact-text p {
    line-height: 1.5em;
    margin-bottom: 1.3em;
    font-size: .75em
}

.map {
    width: 100%;
    margin-top: 2.5em;
    margin-bottom: 3em;
}

@media (max-width: 550px) {
    .contact-img img {
        display: none;
    }
}


/* Google maps responsive
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





/* News page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.news-img img {
    max-width: 100%;
}

.news-article {
    margin-bottom: 2em;
}

.news-text h2 {
    font-size: 1.3em;
    color: #ed1c24;
    margin-bottom: 0.3em;
}

.news-text p:nth-child(2) {
    margin-bottom: 1.2em;
}

figcaption {
    font-size: .6em;
}





/* Artists Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.artists h2 {
    color: #aaa;
}

.artist-list {
    list-style: none;
    margin-bottom: 4em;
}

.artist-list li {
    font-size: .7em;
    margin-bottom: 0;
}





/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.foot-container {
    position: relative;
    background: #676766;
    min-height: 18em;
    margin: 0 auto;
}

@media (min-width: 400px) {
    .footer {
        width: 80%;
    }
}

.footer {
    max-width: 1280px;
    margin: auto;
    padding-top: 2em;
}

.footer h3, .footer p, .footer a {
    color: white;
}

.footer h3 {
    font-size: .9em;
    letter-spacing: 0;
    font-weight: 700;
}

.footer p, .footer li {
    font-size: .8em;
}

.footer p {
    margin-bottom: 1em;
}

.footer li {
    text-align: top;
    height: 2.2em;
    margin: 0;
    list-style: none;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: #ed1c24;
}

#copyright {
    color: #bbb;
    padding-bottom: 2em;
}





/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 550px) and (max-width: 749px) {
    .footer1, .footer2, .footer3 {
        width: 30.6666666667% !important;
        padding-bottom: 1em;
    }
}

@media (min-width: 200px) and (max-width: 749px) {
    .cats {
        margin-bottom: 3em;
    }
    .legend {
        width: 50%;
    }
    .footer .footer4 {
        display: none;
    }
    .footer3 ul {
        margin-left: 0;
        padding-left: 0;
    }
}

@media (min-width: 200px) and (max-width: 549px) {
    .feature-info {
        margin-top: -4em;
    }
    .feature-info img {
        width: 100%;
        padding-bottom: 2em;
        border-bottom: 1px solid #bbb;
    }
    .cat-thumbs div {
        margin-top: 0;
    }
    .about-text {
        border: 0;
    }
    .footer {
        padding-top: 0;
    }
    .footer1 h3, .footer2 h3, .footer3 h3 {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    img.float-left  {
      float: none;
      margin-bottom: 1em;
    }
}





/* Custom Featherlight lightbox styles */

.featherlight-content {
    font-size: 1.2em;
}

.featherlight-content p:first-of-type {
    margin-top: 2em;
}

.featherlight-content p:last-of-type {
    margin-bottom: 0;
}

.featherlight-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.featherlight-content span {
    float: right;
}





/* Match footer width and padding with skeleton container */

@media (min-width: 200px) and (max-width: 399px) {
    .footer {
        padding-left: 20px;
    }
}

@media (min-width: 400px) and (max-width: 549px) {
    .footer {
        width: 85%;
    }
}
